#container-nav{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
    position: relative;
}

#my-4{
    margin-top: auto; 
    margin-bottom: auto;
}

.px-2{
    color: rgba(255, 255, 255, 0.55);

    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    /* color: var(--bs-nav-link-color); */
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

}

.px-2:hover{
    color: rgba(255, 255, 255, 0.75);
}


.text-center{
    color: rgba(255, 255, 255, 0.55);
}