@keyframes mapleflake-fall {
    0% {
      top: -10%;
    }
    100% {
      top: 100%;
    }
  }
  
  @keyframes mapleflake-shake {
    0%,
    100% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(80px);
    }
  }
  
  .mapleflake {
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .mapleflake .mapleflake {
    pointer-events: none;
    color: #fff;
    text-shadow: 0 0 1px #000;
    position: fixed;
    top: -10%;
    z-index: 0;
    user-select: none;
    cursor: default;
    animation: mapleflake-fall 10s linear infinite running,
      mapleflake-shake 3s ease-in-out infinite running;
  }




.cover-container{
    min-height: 78vh;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.bg{
    background-color:rgba(0, 0, 0, 0.5);
}